# ignore the node modules files
/basic-testing-frontend/node_modules
/basic-testing-nodejs/node_modules
/basic-testing-nodejs-esmodules/node_modules
/03-async-code-starting-project/node_modules
/05-hooks-starting-code/node_modules